body {
    background-image: url(orange2.jpg);
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    text-align: :left;
    font-size: 20px;
    color: #333;
    
}

header{
    background-color: aqua;
    color: rgb(63, 42, 165);
    text align: center;
    padding: 20px;
}

figure{
    text-align: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 45px;
    padding: 20px;
    

}

img{
    display: block;
    margin: auto;
    border-radius: 15px;
}
footer {

    text-align: center;
    padding: 10px;
    background-color: rgb(233, 245, 220);
    color: rgb(255, 0, 0);
    margin-top: 40px;
}

main{
    width:80%;
    margin:auto;
}

.Content{
    background-color: rgb(233, 245, 220);
    padding: 20px;
    border-radius: 5px;

}

